<div class="container">
    <div class="wrapper">
        <h1>オンラインバンドをつくろうとは</h1>
        <p>youtubeなど、オンライン上だけで活動する、オンライン限定のメンバー募集サイトです。</p>
        <p>youtubeに投稿した自分の演奏動画を載せることが出来ます。</p>
        <p>ネットセッション仲間や、演奏してみた動画を一緒に投稿したい人を募集するなど、使い方は様々！</p>
        <p>まずは会員登録からどうぞ！</p>
    </div>
</div>
<div class="btns">
    <div class="user-btn">
        <button type="button" class="btn btn-danger">新規登録</button>
        <button type="button" class="btn btn-success">ログイン</button>
    </div>
    <div class="post-btn">
        <button type="button" class="btn btn-primary"><%= link_to("バンドを探す", "/band/index") %></button>
        <button type="button" class="btn btn-primary">メンバーを探す</button>
    </div>
    <div class="new-btn">
        <button type="button" class="btn btn-primary"><%= link_to("メンバーを募集する人", "/band/new") %></button>
        <button type="button" class="btn btn-primary"><%= link_to("加入希望を出す人", "/band/index") %></button>
    </div>
</div>